{% extends 'base.html' %}

{% block title %}Perfil - NOKIS{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Perfil do Cliente</h2>
    <br>
    <p>
        <img class="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="Foto de Perfil" style="margin-bottom: 15px;">
        <br>
        <b>Nome:</b> {{ nome if nome else dados.get('nome', 'Cliente NOKIS') }}<br/><br/>
        {% if dados %}
            <b>Status:</b> {{ dados.get('profissao', 'Membro VIP') }}<br/><br/>
            <b>Preferência:</b> {{ dados.get('disciplina', 'Streetwear Monocromático') }}
        {% endif %}
    </p>
</div>
{% endblock %}